@keyframes pulse {
    0% {
      opacity: 100%;
      box-shadow: black 0px 1px 5px 0.1px;
    }
    50% {
      opacity: 50%;
      box-shadow: black 0px 1px 10px 0.1px;
    }
    100% {
      opacity: 100%;
      box-shadow: black 0px 1px 5px 0.1px;
    }
  }
  
/* анимации для скролла */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-animate {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
  overflow-y: hidden;

  &.animate {
    animation-name: fadeInUp;
  }
}

// Задержки для последовательного появления
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }